body {
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: black;
    text-align: center;
    padding: 10px;
    list-style-type: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 20px;
}

button.order-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.order-button:hover {
    background-color: black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
